{% extends "base.html" %}
{% block title %} Ajouter un FILM (WTF) {% endblock %}
{% block body %}
<style>
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('{{ url_for('static', filename='arriere_plan.jpg') }}') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* Ajustez l'opacité selon les besoins */
        z-index: 0;
    }

    .content {
        position: relative;
        z-index: 1;
        color: #343a40; /* Gris foncé */
        text-shadow: 0 0 1px #ffffff, 0 0 2px rgba(255, 255, 255, .3), 0 0 5px rgba(255, 255, 255, .3); /* Ombres blanches */
    }

    .form-group p, .form-group label {
        color: #343a40; /* Gris foncé pour les textes */
        text-shadow: 0 0 1px #ffffff, 0 0 2px rgba(255, 255, 255, .3), 0 0 5px rgba(255, 255, 255, .3); /* Ombres blanches */
    }

    .btn-primary {
        background-color: #343a40 !important; /* Gris foncé */
        color: #ffffff !important; /* Blanc pour le texte des boutons */
        border: none;
        box-shadow: 0 0 2px #495057, 0 0 4px #fff, 0 0 1rem #fff, 0 0 4rem rgba(255, 255, 255, .3); /* Effets de bordure et d'ombre */
    }
</style>

<div class="background"></div>
<div class="overlay"></div>

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <p>
                Ajouter un nouveau Film
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form_add_film.hidden_tag() }}
                <div class="form-group">
                    <p>
                        {{ form_add_film.nom_film.label }}<br>
                        {{ form_add_film.nom_film(size=32) }}<br>
                        {% for error in form_add_film.nom_film.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                {{ form_add_film.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
