{% extends "base.html" %}
{% block title %} Editer un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un GENRE
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					</p>
                    <p>
                        {{ form_update.nom.label }}<br>
						{{ form_update.nom(size=32) }}<br>
						{% for error in form_update.nom.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.prenom.label }}<br>
						{{ form_update.prenom(size=32) }}<br>
						{% for error in form_update.prenom.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.email.label }}<br>
						{{ form_update.email(size=32) }}<br>
						{% for error in form_update.email.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.telephone.label }}<br>
						{{ form_update.telephone(size=32) }}<br>
						{% for error in form_update.telephone.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.date_agents.label }}<br>
						{{ form_update.date_agents(size=32) }}<br>
						{% for error in form_update.date_agents.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

